/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;

  /* font-family: "Bona Nova", serif; */
}
body {
  background-color: #ffffff;
  & #App {
    width: 100vw;
  }
}
.main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.heading h1 {
  color: #043e53;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 1rem;
  margin: 1rem;
}
.search-bar {
  margin: 1rem 0;
  width: 350px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  background-color: #043e53;
}
input::placeholder {
  color: #dddada;
}
input:focus {
  color: #ffffff;
}
.container {
  width: 100%;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2rem;
  justify-content: center;
}
.card {
  width: 200px;
  border-radius: 1rem;
  background-color: #043e53;
  padding: 5px;
  cursor: pointer;
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.card img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.card h3 {
  color: white;
  font-size: 16px;
  padding: 5px 0;
}

.content img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.content .inner-content {
  color: black;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 05);
  background-color: rgba(255, 255, 255, 0.8);

}
.recipe-details {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 5rem;
}
.ingredients{
  flex-basis: auto;

}
.instructions{
  flex-basis: 60%;
  & h4{
  margin-top: 1.5rem;
  font-size: 16px;

  }

}
.ingredients,
.instructions {
  padding: 1rem;
  text-align: justify;
  
  box-shadow: 0 5px 5px rgba(0, 0, 0, 05);
  background-color: rgba(255, 255, 255, 0.8);
  & h2 {
    background-color: #043e53;
    color: #ffffff;
    text-align: center;
  }
}
.ingredients h4 {
  margin-top: 0.8rem;
  font-weight: bold;
}
.video {
  width: 80%;
  margin: 3rem auto;
}
.indexContainer {
  display: flex;
  margin: 2.5rem 0;
}
.numBox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  & .numBox {
    width: 50px;
    height: 40px;
    background-color: #043e53;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5px;
    cursor: pointer;
  }
}
